.container {
    margin: 2em auto;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 1;
  }
  
  h1 {
    color: #FFFFFF;
  }

  p {
    color: #6C757D;
    margin-bottom: 2em;
  }
  
  .launch-list {
    margin-top: 1em;
  }
  
  li {
    background: rgba(255, 255, 255, 0.1);
    margin: 0.5em 0;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  li .details {
    flex-grow: 1;
  }
  
  li .details h2 {
    margin: 0;
    font-size: 1.2em;
    color: #FFFFFF;
  }
  
  li .details p {
    margin: 0.5em 0 0;
    color: #6C757D;
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 1em;
    }
  
    li {
      flex-direction: column;
      align-items: flex-start;
    }
  
    li .details h2 {
      font-size: 1.1em;
    }
  
    li .details p {
      font-size: 0.9em;
    }
  }
  